<h1>Account List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% accounts.each do |account| %>
    <tr>
      <td><%= account[:username] %></td>
      <td><%= account[:email] %></td>
      <td>
        <a class="btn" href="<%= account[:edit_route] %>">Edit</a>
      </td>
      <td>
        <form action="<%= account[:delete_route] %>" method='POST'
          onsubmit="javascript:return confirm('Are you sure you want to delete this account?');">
          <input type="hidden" name="_method" value="DELETE">
          <input class="btn" <%= "disabled" unless can_delete_others %> type="submit" value="Delete">
        </form>
      </td>
      <td>
        <a class="btn" href="<%= account[:manage_group_memberships] %>">Manage Group Memberships</a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
